</head>
<body>
  <nav>
		<i class="fa-sharp fa-solid fa-plane-departure"></i>
    <a 
      href="/flights/new" class=<%= title === 'Add Flight' ? 'active' : '' %>
    >
      ADD FLIGHT
    </a>
  </nav>